:root {
    --background-color: #1D1E2C;
    --font-color: #F1EBFD;
    --primary-bg-color: #1D1E2C;
    --accent-color: #D7482F;
    --scroll-color: #DEEFB7;
    --color-grey: #494949;
    --sticky-top-pos: 30vh;
    --buffer: 5rem;
    --paragraph-font-size: 1.2em;
    --portrait-width: 300px;
    --landscape-width: 500px;

    --primary-font:
        'Red Rose', sans-serif;
    --heading-font:
        'Major Mono Display', monospace;
    --code-font:
        'Fira Code', monospace;
}

/* This section is for the global style */

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
    border-radius: 10px;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--primary-font);

}

/* This section is for the main container style */
#main {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
}

/* This section is for the hero style intro paragraph */

#hero-container {
    width: 100vw;
    min-height: 500px;
    height: 100vh;
}

#intro {
    position: absolute;
    text-align: center;
    top: 2.5vh;
    width: 100vw;
    height: 100vh;
    font-family: var(--heading-font);
    font-size: 3em;
    margin: 0;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

#intro p {
    font-family: var(--code-font);
    font-size: 0.25em;
    text-align: left;
    margin: -30px;
}

/* Increase font size of the details text for larger screens */
@media screen and (min-height: 1000px) {
    #intro {
        font-size: 5em;
    }
}

/* This is for the solar eclipse graphic on the home page */

.moon-container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.noise {
    margin-top: -15%;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 50% 10%,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 700 700' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    filter: contrast(145%) brightness(650%) invert(100%);
    mix-blend-mode: screen;
    /*animation: hoverAnimation 3s infinite ease-in-out;*/
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .noise {
        filter: contrast(125%) brightness(650%) invert(100%);
        mix-blend-mode: color-dodge;
    }
}

.center {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    animation: hoverAnimation 3s infinite ease-in-out;
}

/* Container for the scroll animation */
.scroll-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: visible;
    animation: move auto linear;
    animation-timeline: scroll(root);
}

@keyframes hoverAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* This section is for the top menu style */

.menu-container {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    width: 100vw;
    transform: translate(0, 0);
    z-index: 10000;
    mix-blend-mode: difference;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    z-index: 10000;
    padding: 10px;

    img {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.5;
        margin: 0.5em;
    }
}

.location-time {
    font-family: var(--code-font);
    align-self: center;
    display: flex;
    flex-direction: row;
    background-color: transparent;

    p {
        font-size: 0.8em;
        color: var(--font-color);
        opacity: 0.5;
        mix-blend-mode: difference;
        text-align: left;
        margin: 0;
    }
}

.resume-btn {
    margin-right: 20px;
    margin-bottom: 5px;
    align-self: flex-end;
}

.glow {
    font-size: 0.8em;
    padding: 10px;
    font-family: var(--code-font);
    justify-content: space-between;
    align-self: flex-end;
    background: hsl(122, 39%, 49%);
    border: none;
    border-radius: 35px;
    color: black;
    cursor: pointer;
    letter-spacing: .1em;
    outline: none;
    position: relative;
    text-transform: uppercase;
    z-index: 1;

    &:hover {
        animation: glow 1s ease-in infinite;
    }

    &::before {
        animation: glow 1s ease-in infinite;
        background: #4CAF50;
        border-radius: inherit;
        content: '';
        filter: blur(10px);
        opacity: .75;
        position: absolute;
        transition: all .3s ease-in-out;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
    }

    &:hover::before {
        filter: blur(20px);
        opacity: 1;
    }
}

@keyframes glow {
    0% {
        background: #4CAF50;
    }

    25% {
        background: #66BB6A;
    }

    100% {
        background: #4CAF50;
    }
}

.top-navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 40px 0px 30px;
    gap: 40px;
    font-family: var(--heading-font);
    font-size: 1.25em;
    width: 100%;

}

.top-navbar a {
    text-decoration: none;
    color: var(--font-color);
}

.top-navbar a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.2s;
}

.top-navbar a:hover::after {
    width: 100%;
}

.top-navbar a::before {
    content: "\\";
}

.top-navbar a:hover::before {
    content: ">";
}

/* This section is */

#content-container {
    min-height: 500px;
    width: 100vw;
    flex-direction: column;
    display: flex;
}

/* This section is for the section header style */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-backward {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.section-header-common {
    background-color: var(--second-bg-color);
    font-family: var(--heading-font);
    color: var(--font-color);
    white-space: nowrap;
    width: 100vw;
    font-size: 10em;
    display: flex;
}

.section-header {
    opacity: 0.2;
}

.section-header>div {
    animation: scroll 5s linear infinite;
}

.section-header-backward {
    margin-top: -0.7em;
}

/* Screen selector for larger screens, different padding + offset */
@media screen and (min-height: 1000px) {
    .section-header-backward {
        margin-top: -0.5em;
        padding: 0 !important;
    }
}

.section-header-backward>div {
    animation: scroll-backward 5s linear infinite;
}

.project {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-info {
    width: 50vw;
    display: flex;
    flex-direction: row-reverse;
}

.info {
    padding: 50px;
    width: 40vw;
    max-width: 750px;
}

.info :is(h1, h2) {
    font-family: var(--heading-font);
    text-align: right;
}

.info h1 {
    font-size: 4em;
}

.info h2 {
    font-size: 2em;
}

.info p {
    font-size: var(--paragraph-font-size);
    text-align: justify;
    a {
        color: var(--font-color);
    }
}

.in-pic {
    display: none;
    width: inherit !important;
}

.project-image-container {
    width: 50vw;
}

.project-image-inner {
    width: 40vw;
    max-width: 800px;
    position: relative;
}

.project-image-inner>img {
    transition: opacity 0.3s ease;
    border-radius: 15px;
    border: 1px solid var(--font-color);
    width: inherit;
    max-width: 800px;
}

.project-image-inner:hover>img {
    opacity: 0.5;
}

.project-image-inner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-image-inner:hover .overlay {
    opacity: 1;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

/* Ref: https://codepen.io/natalia-reshetnikova/pen/oRRjPP/ */

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-cross {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.btn-cross span {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-cross span a {
    color: #FFF;
    text-decoration: none;
}

.btn-cross span :is(svg, img) {
    display: block;
    margin: auto;
}

.btn-cross::before {
    color: v;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: var(--background-color);
}

.btn-cross::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: var(--background-color);
}

.btn-cross:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0);
}

.btn-cross:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0);
}

/* Divider */

.divider {
    overflow-x: unset;
    white-space: nowrap;
    font-size: 1.5em;
    text-align: center;
    align-self: center;
    font-family: var(--heading-font);
    margin: 0;
    margin-bottom: 5px;
    opacity: 0.5;
    transform: translateX(0) skewX(0deg);
    border-top: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    padding: 5px 0 5px 0;
}

.dividers {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.dividers:nth-child(4n+2) {
    transform: rotate(2deg);
}

.dividers:nth-child(4n) {
    transform: rotate(-2deg);
}

.post-header-space {
    height: 10vh;
}

/* Social Media Links */

.socials {
    margin-top: 3em;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.social-media>a {
    align-self: center;
    width: 88vw;
    outline: none;
    font-family: var(--code-font);
    height: 1.2em;
    font-size: 2em;
    color: var(--font-color);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--font-color);
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    background: transparent;
    padding: 0.5em;
}

.social-media:hover {
    background: blue;
    transition: all 0.3s ease-in-out;

    a {
        color: palegreen;
    }

    img {
        filter: invert(21%) sepia(93%) saturate(7270%) hue-rotate(358deg) brightness(95%) contrast(117%);
    }
}

.social-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    font-size: 0.75em;
}

.contact-or {
    outline: none;
    font-family: var(--heading-font);
    font-size: 3em;
    color: var(--accent-color);
    text-align: center;
    margin-top: 40px;
    animation: caseglitch 6s infinite steps(50);
    display: inline-block;
}

/* Contact Form */

.contact-form {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 90vw;
    overflow-x: hidden;
}

.contact-form>form {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

input, textarea, #submit {
    width: 100%;
    border-radius: 0;
    border-top: solid 1px var(--font-color);
    border-left: none;
    border-right: none;
    background: transparent;
}

input,
textarea {
    outline: none;
    font-family: var(--code-font);
    font-size: 2em;
    color: var(--font-color);
    border-bottom: none;
    transition: all 0.3s ease-in-out;
}

input {
    height: 2em;
}

textarea {
    height: 30vh;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    background: blue;
    color: var(--font-color);
}

input::placeholder,
textarea::placeholder {
    color: lightslategray;
}

#submit {
    cursor: pointer;
    border-bottom: solid 1px var(--font-color);
    align-self: center;
}

#submit:hover {
    color: var(--accent-color);
}

.footnote {
    font-family: var(--primary-font);
    width: 100vw;
    height: 2.5em;
    margin-top: 10%;
    text-align: center;
    align-self: center;
    color: var(--font-color);
    text-transform: uppercase;
}

@media screen and (max-width: 720px) {

    .menu-container {
        justify-content: center;
    }

    .top-navbar {
        margin: 15px 10px 0 10px;
        gap: 5px;
        justify-content: space-between;
    }

    .top-navbar>:nth-child(1) {
        display: none;
    }

    .top-navbar>:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 1000px) {

    ::-webkit-scrollbar {
        width: 0;
    }

    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    #intro {
        gap: 5vh;
    }

    .bio-code>p {
        max-width: 95vw;
    }

    .section-header-common {
        font-size: 4em;
        overflow-x: hidden;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 0 0 5vh 0;
        gap: 3em;
    }

    .project {
        width: 92.5vw;
        height: auto;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        /* border: 0.5px solid var(--font-color); */
        border-radius: 20px;
        align-self: center;
    }

    .project-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        padding: 10px;
        width: 82.5vw;
    }

    .info :is(h1, h2) {
        text-align: center;
    }

    .info h1 {
        font-size: 2.5em;
    }

    .info h2 {
        font-size: 1.5em;
    }

    .info p {
        font-size: var(--paragraph-font-size)/8;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .out-pic {
        display: none !important;
    }

    .project-image-container {
        width: 87.5vw;
        display: flex;
        flex-direction: inherit;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vw;
    }

    .project-image-inner {
        width: inherit;
        max-width: 800px;
        position: relative;
    }

    .project-image-inner:hover{
        pointer-events: none;
    }
    
    .overlay {
        display: none;
    }

    .btn-cross {
        display: none;
    }

    .dividers {
        padding: 5vh 0 5vh 0;
        overflow-x: hidden !important;
    }

    .divider:nth-child(3) {
        display: none;
    }

    .post-header-space {
        height: 7.5vh;
    }

    .social-line>span {
        display: none;
    }

    .footnote {
        width: 80vw;
        margin-bottom: 20px;
    }

    .bottom-navbar {
        display: none;
    }
}